@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1{ 
  font-family: "Lemon"
}


@font-face {
  font-family: "Lemon";
  src: url("../../public/Lemon-Regular.ttf");
}