
.mainContainer {
    background-color: #F6F6F6;
    width: 66vw;
    height: 66vh;
    border: 0.3vh solid darkgray;
    border-radius: 2vh;

    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5vh;
    user-select: none;
}

.content > h3 {
    font-size: 3vh;
}

.content > input {
    width: 50vw;
    height: 20vh;   
}

.CardButton {
    background-color: aqua;
}